form {
	display: flex;
	flex-direction: column;
	width: 100%;
	max-width: 500px;
	margin-bottom: 20px;
	padding: 40px;
	border-radius: var(--radius);
	box-shadow: var(--shadow);
	background-color: var(--background);
}

label {
	margin-bottom: var(--text-spacing);
}

input {
	border: 2px solid var(--outline);
	padding: 10px;
	border-radius: var(--radius);
	outline: none;
	background-color: var(--background);
	transition: 0.2s;
}

input:focus {
	border-color: var(--main);
}

#submit {
	--color: var(--outline);
	display: flex;
	justify-content: center;
	align-items: center;
	gap: var(--text-spacing);
	border-color: var(--color);
	background-color: var(--background);
	color: var(--color);
	fill: var(--color);
	pointer-events: none;
}

#submit.valid {
	--color: var(--main);
	cursor: pointer;
	pointer-events: all;
}

#submit.valid:hover {
	--color: var(--background);
	border-color: var(--main);
	background-color: var(--main);
}

#submit svg {
	width: 1em;
	fill: inherit;
}

input {
	margin-bottom: 40px;
}
