:root {
	/* colors */
	--selection: #7df9ff;

	/* other */
	--canvas-margin: 10vmin;
	--canvas-size: calc(100vmin - var(--canvas-margin) * 2);
	--ui-spacing: 15px;
	--ui-border-radius: 10px;
}

* {
	user-select: none;
}

main {
	height: 100%;
	justify-content: center;
	padding: 0;
	touch-action: none;
}

#game-container {
	position: relative;
	display: flex;
	justify-content: center;
}

#game-status {
	position: absolute;
	bottom: calc(100% + var(--ui-spacing));
	white-space: nowrap;
	text-align: center;
}

.is-playing #game-status {
	white-space: normal;
}

.drawers-only {
	display: none;
}

.is-current-drawer .drawers-only {
	display: initial;
}

.ui-box {
	border-radius: var(--ui-border-radius);
	box-shadow: var(--shadow);
	background-color: var(--background);
}

.selected {
	outline: 2px solid var(--selection);
}

.you {
	color: var(--main);
}

.server {
	color: var(--success);
}

/* ==================================================
	canvas
================================================== */

.is-playing #canvas {
	display: initial;
}

.is-current-drawer #canvas {
	cursor: none;
}

#canvas {
	position: relative;
	display: none;
	width: var(--canvas-size);
	height: var(--canvas-size);
	touch-action: none;
}

#canvas canvas {
	position: absolute;
	width: 100%;
	height: 100%;
	border-radius: inherit;
}

#foreground {
	pointer-events: none;
}

/* ==================================================
	menu
================================================== */

.is-playing #menu {
	display: flex;
}

#menu {
	position: absolute;
	top: calc(100% + var(--ui-spacing));
	display: none;
	flex-wrap: wrap;
	justify-content: center;
	gap: calc(var(--ui-spacing) * 3);
	list-style: none;
}

#menu li p {
	display: flex;
	align-items: center;
	cursor: pointer;
}

#menu li p svg {
	width: 1.8em;
	height: 1.8em;
	transition: var(--transition);
}

#menu li.active p svg {
	transform: rotate(180deg);
}

.menu-content {
	position: fixed;
	z-index: 100;
	top: 100%;
	left: 50%;
	transform: translate(-50%, 0);
	opacity: 0;
	transition: var(--transition);
}

.active .menu-content {
	top: 50%;
	transform: translate(-50%, -50%);
	opacity: 1;
}

/* ==================================================
	color-palette
================================================== */

#color-palette {
	--color-size: 40px;
	--colors-per-row: 3;
	display: flex;
	flex-wrap: wrap;
	gap: var(--ui-spacing);
	width: calc(var(--color-size) * var(--colors-per-row) + var(--ui-spacing) * (var(--colors-per-row) + 1));
	padding: var(--ui-spacing);
}

.color {
	width: var(--color-size);
	height: var(--color-size);
	border: 2px solid rgba(0, 0, 0, 0.1);
	border-radius: var(--ui-border-radius);
	cursor: pointer;
}

/* ==================================================
	size-picker
================================================== */

#size-picker {
	--size-size: 64px;
	--sizes-per-row: 2;
	display: flex;
	flex-wrap: wrap;
	gap: var(--ui-spacing);
	width: calc((var(--size-size) + var(--ui-spacing) * 2) * var(--sizes-per-row) + var(--ui-spacing) * (var(--sizes-per-row) + 1));
	padding: var(--ui-spacing);
}

.size {
	display: flex;
	justify-content: center;
	align-items: center;
	width: var(--size-size);
	height: var(--size-size);
	padding: var(--ui-spacing);
	border-radius: var(--ui-border-radius);
	box-sizing: content-box;
	box-shadow: inset var(--shadow);
	cursor: pointer;
}

.size::after {
	content: "";
	width: var(--size);
	height: var(--size);
	border-radius: 50%;
	background-color: #000;
}

/* ==================================================
	clear-and-fill
================================================== */

#clear-and-fill {
	display: flex;
	flex-direction: column;
	gap: var(--ui-spacing);
	padding: var(--ui-spacing);
}

#clear-and-fill button {
	width: 100%;
}

/* ==================================================
	lobby
================================================== */

#lobby {
	display: flex;
	flex-direction: column;
	gap: var(--ui-spacing);
	max-width: 100%;
	max-height: var(--canvas-size);
	padding: var(--ui-spacing);
	overflow: auto;
}

#player-list {
	width: fit-content;
	border: 2px solid var(--outline);
	list-style: none;
}

#player-list li {
	display: flex;
	align-items: center;
	gap: var(--ui-spacing);
	width: 100%;
	padding: var(--ui-spacing);
}

#player-list li:nth-child(odd) {
	background-color: var(--outline);
}

#player-list li p {
	white-space: nowrap;
}

/* ==================================================
	chat
================================================== */

#chat {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	gap: var(--ui-spacing);
	padding: var(--ui-spacing);
	width: var(--canvas-size);
	height: calc(var(--canvas-size) / 2);
}

#messages {
	height: 100%;
	border: 2px solid var(--outline);
	overflow-y: auto;
	list-style: none;
	scroll-behavior: smooth;
}

#messages li {
	padding: 5px;
	word-wrap: break-word;
}

#messages li:nth-child(odd) {
	background-color: var(--outline);
}

#chat input {
	border: 2px solid var(--outline);
	outline: none;
	padding: 5px;
}

.is-correct #chat input {
	display: none;
}

/* ==================================================
	game-timer
================================================== */

.is-playing #game-timer {
	display: initial;
}

#game-timer {
	--percentage: 0%;
	position: absolute;
	left: calc(100% + var(--ui-spacing));
	display: none;
	width: 10px;
	height: var(--canvas-size);
	border: 2px solid var(--outline);
}

#game-timer::after {
	position: absolute;
	top: 100%;
	transform: translateY(-100%);
	content: "";
	display: block;
	width: 100%;
	height: var(--percentage);
	border-radius: inherit;
	background: linear-gradient(135deg, rgba(255,166,200,1) 0%, rgba(255,198,159,1) 20%, rgba(255,252,185,1) 40%, rgba(162,252,154,1) 60%, rgba(164,227,255,1) 80%, rgba(235,156,245,1) 100%);
}
