@font-face {
	font-family: "Nunito";
	src: url(/assets/fonts/Nunito-Bold.ttf);
}

:root {
	/* colors */
	--background:     #ffffff;
	--foreground:     #000000;
	--outline:        #eeeeee;
	--main:           #7abbd7;
	--success:        #3fb950;
	--error:          #f85149;

	/* other */
	--shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.1);
	--radius: 10px;
	--text-spacing: 5px;
	--transition: 0.2s;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Nunito";
	font-size: 15px;
	font-weight: normal;
	line-height: 125%;
	color: var(--foreground);
}

html, body {
	height: 100%;
}

body {
	background-color: var(--background);
}

#root {
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 100%;
	overflow-x: hidden;
}

#home-button {
	position: absolute;
	top: 25px;
	left: 25px;
	display: flex;
	justify-content: center;
	align-content: center;
	width: 50px;
	height: 50px;
	border: 2px solid var(--main);
	border-radius: 50%;
	box-shadow: var(--shadow);
	background-color: var(--background);
	fill: var(--main);
	transition: var(--transition);
}

#home-button svg {
	width: 50%;
	fill: inherit;
}

#home-button:hover {
	background-color: var(--main);
	fill: var(--background);
}

nav {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	gap: 50px;
	padding: 50px;
	width: 100%;
	border-bottom: 2px solid var(--outline);
}

nav a {
	display: flex;
	align-items: center;
	gap: var(--text-spacing);
	font-size: 1.5em;
	white-space: nowrap;
}

nav a svg {
	width: 1.5em;
	fill: var(--main);
}

main {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 20px;
	padding: 40px;
}

span {
	font-size: inherit;
	color: inherit;
}

h1 {
	margin: 20px;
	font-size: 3em;
	text-align: center;
}

h2 {
	font-size: 2em;
}

a {
	text-decoration: none;
	color: var(--main);
}

button {
	--color: var(--main);
	display: flex;
	justify-content: center;
	align-items: center;
	gap: var(--text-spacing);
	padding: 10px 40px;
	border: 2px solid var(--color);
	border-radius: var(--radius);
	background-color: var(--background);
	color: var(--color);
	fill: var(--color);
	transition: var(--transition);
	cursor: pointer;
}

button svg {
	width: 1em;
	fill: inherit;
	transition: inherit;
}

button:hover {
	background-color: var(--color);
	color: var(--background);
	fill: var(--background);
}

button.success {
	--color: var(--success);
}

button.error {
	--color: var(--error);
}

.error {
	color: var(--error);
}
